@{
    ViewBag.Title = "首页 | 办公OA系统";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<h2>
    @Html.ActionLink("首页", "Index", "Home", new { @class = "active" })
</h2>
<div id="main">
    <br />

    @if ((ViewBag.Inboxes as IEnumerable<Inbox>).Count() != 0)
    {
        <h3>收件箱 @Html.ActionLink("（更多）", "Inbox", "Information")</h3>
        <table>
            @{bool line2 = true;}
            @foreach (var inbox in ViewBag.Inboxes as IEnumerable<Inbox>)
            { 
                <tr class="@string.Format(line2 ? "odd" : "")">
                    <td>@inbox.Title
                    </td>
                    <td class="action"><a target="_blank" onclick="return reflash(this);" href="@Url.Action("Redirect", "Process", new
                                       {
                                           id = inbox.RedirectID,
                                           type = inbox.RedirectType,
                                           inboxID = inbox.ID
                                       })" class="view">处理</a></td>
                </tr>
                line2 = !line2;
            }
        </table>
    }
    @if ((ViewBag.Process as IEnumerable<BaseProcess>).Count() != 0)
    {
        <br />
        <h3>需要处理的流程 @Html.ActionLink("（更多）", "Index", "Process")</h3>

        <table>
            @{bool line = true;}
            @foreach (var process in ViewBag.Process as IEnumerable<BaseProcess>)
            { 
                <tr class="@string.Format(line ? "odd" : "")">
                    <td>@string.Format("[{0}][申请人：{1}]  {2}", process.ProcessName, process.Owner.NickName, process.Memo.SubByte(20))
                    </td>
                    <td class="action"><a href="@Url.Action("Process" + process.GetType().Name, "Process", new { id = process.ID })" class="view">
                        处理</a></td>
                </tr>
                line = !line;
            }
        </table>
    }
</div>
<!-- // #main -->
