@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="sidebar">
    <ul class="sideNav">
        <li><a class="action_Index" href="@Url.Action("Index")">所有任务</a></li>
        <li><a class="action_My" href="@Url.Action("My")">我申请的流程</a></li>
        <li><br />
            <br />
        </li>
        <li><a class="action_CreateLeaveProcess" href="@Url.Action("CreateLeaveProcess")">新建请假流程</a></li>
        <li><a class="action_CreateProjectProcess" href="@Url.Action("CreateProjectProcess")">新建项目流程</a></li>
    </ul>
    <!-- // .sideNav -->
</div>
<!-- // #sidebar -->
@RenderBody()
<div class="clear"></div>
