@model MODEL.ProjectProcess
@{
    ViewBag.Title = "新增项目流程 | 工作流平台 | 办公OA系统";
    Layout = "~/Views/Process/_Layout.cshtml";
}
<h2>
    @Html.ActionLink("所有任务", "Index", "Process") &raquo;
    @Html.ActionLink("新增项目流程", "CreateProjectProcess", "Process", new { @class = "active" })
    @if (!string.IsNullOrEmpty(Request["from"]))
    {
        @Html.Raw(" &raquo; ")
        <a href="@Uri.UnescapeDataString(Request["from"])">返回来源页面</a>
    }
</h2>
<div id="main">
    <br />
    @using (Html.BeginForm())
    {
        <fieldset>
            <p>
                @Html.LabelFor(m => m.Memo)
                <br />
                <br />
                @Html.TextAreaFor(m => m.Memo, new { @class = "textarea" ,style= "width:600px;height:300px" })
                @Html.ValidationMessageFor(m => m.Memo)
            </p>
        </fieldset>
        
        <input type="submit" value="保存" />
    }
</div>
