@model MODEL.LeaveProcess
@{
    ViewBag.Title = "审批请假流程 | 工作流平台 | 办公OA系统";
    Layout = "~/Views/Process/_Layout.cshtml";
}
<h2>
    @Html.ActionLink("所有任务", "Index", "Process") &raquo;
    @Html.ActionLink("审批请假流程", "Create", "Process", new { @class = "active" })
    @if (!string.IsNullOrEmpty(Request["from"]))
    {
        @Html.Raw(" &raquo; ")
        <a href="@Uri.UnescapeDataString(Request["from"])">返回来源页面</a>
    }
</h2>
<div id="main">
    <br />
    @using (Html.BeginForm())
    {
        <fieldset>
            <p>
                @Html.LabelFor(m => m.Memo)
                <br />
                <br />
                @Html.TextAreaFor(m => m.Memo, new { @readonly = "readonly" })
            </p>
            <p>
                <input type="radio" id="agree_1" name="agree" value="true" /><label for="agree_1">同意
                </label>
                <input type="radio" id="agree_0" name="agree" value="false" /><label for="agree_0">不同意
                </label>
            </p>
        </fieldset>
        <input type="submit" value="提交" />
    }
</div>
