@model MODEL.Article
@{
    ViewBag.Title = "新增公告 | 信息共享平台 | 办公OA系统";
    Layout = "~/Views/Information/_Layout.cshtml";
}
<h2>@Html.ActionLink("办公OA系统", "Index", "Home") &raquo;
    @Html.ActionLink("信息共享平台", "Index", "Information") &raquo;
    @Html.ActionLink("最新公告", "Index", "Information") &raquo;
    @Html.ActionLink("新增公告", "Create", "Information", new { @class = "active" })
</h2>
<div id="main">
    <br />
    <form action="">
    <fieldset>
        <p>
            @Html.LabelFor(m => m.Title)
            <br />
            <br />
            @Html.TextBoxFor(m => m.Title, new { @class = "text-full" })
            @Html.ValidationMessageFor(m => m.Title)
        </p>
        <p>
            @Html.LabelFor(m => m.Authority)
            <br />
            <br />
            @foreach (var role in ViewBag.UserRole as List<UserRole>)
            {
                <input type="checkbox" id="checkbox_@role.RoleEnum" name="userrole" value="@role.RoleEnum" />
                <label for="checkbox_@role.RoleEnum">@role.Name</label>
            }
        </p>
        <p>
            @Html.LabelFor(m => m.Content)
            <br />
            <br />
            <textarea class="xheditor-mfull {width:'660px'}"></textarea>
        </p>
        <input type="submit" value="Submit Query" />
    </fieldset>
    </form>
</div>
<!-- // #main -->
