@model MODEL.Article
@{
    ViewBag.Title = "新增公文 | 最新公文 | 信息共享平台 | 办公OA系统";
    Layout = "~/Views/Information/_Layout.cshtml";
}
<h2>
    @Html.ActionLink("最新公文", "Index", "Information") &raquo;
    @Html.ActionLink("新增公文", "Create", "Information", new { @class = "active" })
    @if (!string.IsNullOrEmpty(Request["from"]))
    {
        @Html.Raw(" &raquo; ")
        <a href="@Uri.UnescapeDataString(Request["from"])">返回来源页面</a>
    }
</h2>
<div id="main">
    <br />
    @using (Html.BeginForm())
    {
        <fieldset>
            @Html.HiddenFor(m => m.TempID)
            <p>
                @Html.LabelFor(m => m.Title)
                <br />
                <br />
                @Html.TextBoxFor(m => m.Title, new { @class = "text-full" })
                @Html.ValidationMessageFor(m => m.Title)
            </p>
            <p>
                @Html.LabelFor(m => m.Authority)
                <br />
                <br />
                @Html.Partial("_Authority", Model)
            </p>
            <p>
                @Html.LabelFor(m => m.Content)
                <br />
                <br />
                <textarea name="Content" id="Content" class="xheditor-mfull {width:'660px',height:'500'}">@Html.Raw(Model == null ? "" : Model.Content)</textarea>
            </p>
        </fieldset>
        
        <input type="submit" value="保存" />
    }
    @Html.Partial("_UploadFile", Model.TempID.ToString())
</div>
<!-- // #main -->
