<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/transdmin.css")" rel="stylesheet" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/ie6.css")" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/ie7.css")" /><![endif]-->
    <link href="@Url.Content("~/Content/themes/base/jquery-ui-1.8.20.custom.css")" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
    <div id="wrapper">
        <!-- h1 tag stays for the logo, you can use the a tag for linking the index page -->
        <h1><a href="#"><span>Transdmin Light</span></a></h1>
        <!-- You can name the links with lowercase, they will be transformed to uppercase by CSS, we prefered to name them with uppercase to have the same effect with disabled stylesheet -->
        <ul id="mainNav">
            <li><a href="@Url.Action("Index", "Home")">首页</a></li>
            <li><a class="controller_Information" href="@Url.Action("Index", "Information")">信息共享平台
                </a></li>
            <li><a class="controller_Workflow" href="@Url.Action("Index", "Workflow")">工作流平台</a>
            </li>
            <li><a class="controller_Attendance" href="@Url.Action("Index", "Attendance")">考勤平台</a>
            </li>
            <li class="logout"><a href="#">LOGOUT</a></li>
        </ul>
        <!-- // #end mainNav -->
        <div id="containerHolder">
            <div id="container">
                @RenderBody()
            </div>
            <!-- // #container -->
        </div>
        <!-- // #containerHolder -->
        <p id="footer">
            Feel free to use and customize it. <a href="http://www.perspectived.com">Credit is appreciated.
            </a>
        </p>
    </div>
    <!-- // #wrapper -->
    <input id="controller" type="hidden" value="@Html.ViewContext.RouteData.Values["controller"].ToString().ToLower()"/>
    <input id="action" type="hidden" value="@Html.ViewContext.RouteData.Values["action"].ToString().ToLower()"/>
</body>
<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.19.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/ajaxfileupload.js")"></script>
<script src="@Url.Content("~/Scripts/xheditor/xheditor.js")"></script>
<script src="@Url.Content("~/Scripts/Site.js")"></script>
</html>
