@model string
<table>
    @{
        var items = JsonConvert.DeserializeObject<List<UploadFile>>(CookieHelper.Get(Model)) ?? new List<UploadFile>();
        var isSingle = true;
    }
    @foreach (var file in items)
    { 
        <tr class="@(isSingle ? "" : "odd")">
            <td>@(Uri.UnescapeDataString(file.FileName) + file.Extension)</td>
            <td class="action"><a target="_blank" href="@Url.Content(file.Path)" class="view">下载
            </a>
                @Ajax.ActionLink("删除", "delete", "UploadFile", new { id = Model, fileID = file.TempID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Attachment", OnSuccess = "SetJqueryUI" }, new { @class = "delete" })
            </td>
        </tr>
        isSingle = !isSingle;
    }
</table>
<br />
<input id="fileInput" name="fileInput" type="file" value="上传" />
<button id="buttonUpload" onclick="FileUpload('@Url.Action("Upload", "UploadFile", new { id = Model })');">
    上传
</button>
<script type="text/javascript">
function FileUpload(url) {
    $.ajaxFileUpload({
        url: url, //你处理上传文件的服务端
        secureuri: false, //与页面处理代码中file相对应的ID值
        fileElementId: 'fileInput',
        dataType: 'text', //返回数据类型:text，xml，json，html,scritp,jsonp五种
        success: function (data) {
            $('#Attachment').html(data);
            SetJqueryUI();
        }
    })
}
</script>
